.username-password-child,
.username-password-item {
  position: absolute;
  top: 186px;
  left: 22px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  width: 316px;
  height: 65px;
}
.username-password-item {
  top: 287px;
}
.login3,
.password1,
.username1 {
  position: absolute;
  top: 89px;
  left: 105px;
  font-size: var(--font-size-31xl);
  display: flex;
  align-items: center;
  width: 156px;
  height: 54px;
}
.password1,
.username1 {
  top: 204px;
  left: 42px;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  color: var(--color-gray-100);
  width: 230px;
  height: 34px;
}
.password1 {
  top: 304px;
  left: 45px;
}
.username-password-child1,
.username-password-inner {
  position: absolute;
  top: 408px;
  left: 91px;
  border-radius: var(--br-xl);
  background-color: var(--color-royalblue-100);
  width: 178px;
  height: 48px;
}
.username-password-child1 {
  top: 524px;
}
.log-in1,
.sign-up1 {
  position: absolute;
  top: 408px;
  left: 119px;
  font-size: var(--font-size-9xl);
  display: flex;
  color: var(--color-whitesmoke-200);
  align-items: center;
  width: 116px;
  height: 46px;
}
.sign-up1 {
  top: 524px;
  left: 108px;
  width: 106px;
  height: 47px;
}
.customer-icon3,
.password-icon1 {
  position: absolute;
  top: 200px;
  left: 264px;
  width: 62px;
  height: 42px;
  object-fit: cover;
}
.password-icon1 {
  top: 304px;
  left: 269px;
  width: 52px;
  height: 34px;
}
.forgot-password1 {
  position: absolute;
  top: 359px;
  left: 45px;
  font-size: var(--font-size-lg);
  text-decoration: underline;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2e2a2a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 231px;
  height: 28px;
}
.or1 {
  position: absolute;
  top: 479px;
  left: 172px;
  display: flex;
  align-items: center;
  width: 39px;
  height: 26px;
}
.username-password-child2,
.username-password-child3 {
  position: absolute;
  top: 432px;
  left: 209px;
  max-height: 100%;
  width: 26px;
}
.username-password-child3 {
  top: 548px;
  left: 214px;
}
.username-password-child4,
.username-password-child5 {
  position: absolute;
  top: 591px;
  left: 22px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 316px;
  height: 54px;
}
.username-password-child5 {
  top: 664px;
  background-color: var(--color-royalblue-200);
}
.login-with-facebook1,
.login-with-google1 {
  position: absolute;
  top: 595px;
  left: 99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 219px;
  height: 45px;
}
.login-with-facebook1 {
  top: 668px;
  left: 84px;
  color: var(--color-whitesmoke-200);
  width: 250px;
}
.back-icon5,
.facebook-icon1,
.google-icon1 {
  position: absolute;
  top: 596px;
  left: 45px;
  width: 46px;
  height: 44px;
  object-fit: cover;
}
.back-icon5,
.facebook-icon1 {
  top: 657px;
  left: 17px;
  width: 67px;
  height: 68px;
}
.back-icon5 {
  top: 17px;
  width: 49px;
  height: 40px;
  cursor: pointer;
}
.username-password-child6,
.username-password-child7 {
  position: absolute;
  top: 494.5px;
  left: 20.5px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 146.1px;
  height: 3px;
}
.username-password-child7 {
  left: 201.5px;
  width: 141px;
}
.divider,
.suggestion {
  position: absolute;
  top: calc(50% - 10px);
}
.suggestion {
  left: calc(50% - 113px);
  letter-spacing: -0.41px;
  line-height: 22px;
}
.divider {
  left: calc(50% - 49px);
  border-radius: var(--br-12xs);
  background-color: var(--default-systemgray-02-dark);
  width: 1px;
  height: 25px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
.suggestion1 {
  left: calc(50% + 13px);
  letter-spacing: -0.41px;
  line-height: 22px;
}
.divider1,
.suggestion1,
.suggestion2 {
  position: absolute;
  top: calc(50% - 10px);
}
.divider1 {
  left: calc(50% + 50px);
  border-radius: var(--br-12xs);
  background-color: var(--default-systemgray-02-dark);
  width: 1px;
  height: 25px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
.suggestion2 {
  left: calc(50% + 155px);
  letter-spacing: -0.41px;
  line-height: 22px;
}
.keyboard-suggestion {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray-300);
  backdrop-filter: blur(108.73px);
  height: 46px;
  overflow: hidden;
}
.letter {
  position: absolute;
  width: calc(100% + 7px);
  top: calc(50% - 14px);
  left: 0;
  letter-spacing: 0.35px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.key-child,
.letter1 {
  left: -14px;
  display: none;
}
.key-child {
  position: absolute;
  top: -75px;
  border-radius: var(--br-8xs-6);
  width: 63.5px;
  height: 84px;
}
.letter1 {
  width: calc(100% + 34px);
  top: calc(50% - 80px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.35px;
  line-height: 28px;
  align-items: center;
  justify-content: center;
}
.key,
.letter1,
.letter3 {
  position: absolute;
}
.key {
  width: calc(100% - 325px);
  top: 0;
  right: 325px;
  left: 0;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  height: 42px;
}
.letter3 {
  width: calc(100% + 33px);
  top: calc(50% - 80px);
  left: -14px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.35px;
  line-height: 28px;
  display: none;
  align-items: center;
  justify-content: center;
}
.key1,
.key2,
.key3,
.key4,
.key5,
.key6,
.key7,
.key8,
.key9 {
  position: absolute;
  width: calc(100% - 325px);
  top: 0;
  right: 289px;
  left: 36px;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  height: 42px;
}
.key2,
.key3,
.key4,
.key5,
.key6,
.key7,
.key8,
.key9 {
  right: 253px;
  left: 72px;
}
.key3,
.key4,
.key5,
.key6,
.key7,
.key8,
.key9 {
  right: 217px;
  left: 108px;
}
.key4,
.key5,
.key6,
.key7,
.key8,
.key9 {
  right: 181px;
  left: 144px;
}
.key5,
.key6,
.key7,
.key8,
.key9 {
  right: 145px;
  left: 180px;
}
.key6,
.key7,
.key8,
.key9 {
  right: 109px;
  left: 216px;
}
.key7,
.key8,
.key9 {
  right: 73px;
  left: 252px;
}
.key8,
.key9 {
  right: 37px;
  left: 288px;
}
.key9 {
  right: 1px;
  left: 324px;
}
.letter20,
.top-row {
  position: absolute;
  left: 0;
}
.top-row {
  width: 100%;
  top: 0;
  right: 0;
  height: 42px;
}
.letter20 {
  width: calc(100% + 8px);
  top: calc(50% - 14px);
  letter-spacing: 0.35px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.key10,
.key11 {
  position: absolute;
  width: calc(100% - 288px);
  top: 0;
  right: 287px;
  left: 1px;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  height: 42px;
}
.key11 {
  right: 252px;
  left: 36px;
}
.letter25 {
  position: absolute;
  width: calc(100% + 35px);
  top: calc(50% - 80px);
  left: -14px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.35px;
  line-height: 28px;
  display: none;
  align-items: center;
  justify-content: center;
}
.key12,
.key13 {
  position: absolute;
  width: calc(100% - 288px);
  top: 0;
  right: 215px;
  left: 73px;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  height: 42px;
}
.key13 {
  right: 179px;
  left: 109px;
}
.letter28 {
  position: absolute;
  width: calc(100% + 6px);
  top: calc(50% - 14px);
  left: 0;
  letter-spacing: 0.35px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.key14,
.key15 {
  position: absolute;
  height: 42px;
}
.key14 {
  width: calc(100% - 286px);
  top: 0;
  right: 142px;
  left: 144px;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.key15 {
  right: 107px;
  left: 181px;
}
.key15,
.key16,
.key17 {
  width: calc(100% - 288px);
  top: 0;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.key16 {
  position: absolute;
  right: 71px;
  left: 217px;
  height: 42px;
}
.key17 {
  right: 36px;
  left: 252px;
}
.key17,
.key18,
.middle-row {
  position: absolute;
  height: 42px;
}
.key18 {
  width: calc(100% - 288px);
  top: 0;
  right: 1px;
  left: 287px;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.middle-row {
  width: calc(100% - 38px);
  top: 54px;
  right: 19px;
  left: 19px;
}
.letter38,
.letter39 {
  position: absolute;
  letter-spacing: 0.35px;
  line-height: 28px;
  align-items: center;
  justify-content: center;
}
.letter38 {
  width: calc(100% + 10px);
  top: calc(50% - 14px);
  left: 0;
  display: flex;
}
.letter39 {
  width: calc(100% + 36px);
  top: calc(50% - 80px);
  left: -14px;
  font-size: var(--font-size-21xl);
  display: none;
}
.key19 {
  position: absolute;
  top: 0;
  right: 211px;
  left: 1px;
  height: 42px;
}
.key19,
.key20,
.key21 {
  width: calc(100% - 212px);
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.key20 {
  position: absolute;
  top: 0;
  right: 176px;
  left: 36px;
  height: 42px;
}
.key21 {
  right: 142px;
  left: 70px;
}
.key21,
.key22,
.key23 {
  position: absolute;
  top: 0;
  height: 42px;
}
.key22 {
  width: calc(100% - 212px);
  right: 106px;
  left: 106px;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.key23 {
  right: 71px;
  left: 141px;
}
.key23,
.key24,
.key25 {
  width: calc(100% - 212px);
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.key24 {
  position: absolute;
  top: 0;
  right: 37px;
  left: 175px;
  height: 42px;
}
.key25 {
  right: 2px;
  left: 210px;
}
.key-icon,
.key25,
.keys1 {
  position: absolute;
  top: 0;
  height: 42px;
}
.keys1 {
  width: calc(100% - 116px);
  right: 58px;
  left: 58px;
}
.key-icon {
  left: 0;
  width: 42px;
}
.letter52 {
  position: relative;
  letter-spacing: -0.32px;
  line-height: 21px;
}
.bottom-row,
.key26 {
  position: absolute;
  right: 0;
}
.key26 {
  top: 0;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
  font-size: var(--default-regular-callout-size);
  font-family: var(--default-regular-callout);
}
.bottom-row {
  width: 100%;
  top: 108px;
  left: 0;
  height: 42px;
}
.keys {
  position: absolute;
  width: calc(100% - 6px);
  top: 54px;
  right: 3px;
  left: 3px;
  height: 150px;
  font-size: var(--title2-regular-size);
  font-family: var(--title2-regular);
}
.home-indicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: 100px;
  background-color: var(--label-color-dark-primary);
  width: 134px;
  height: 5px;
}
.homeindicator {
  position: absolute;
  width: calc(100% - 1px);
  right: 0;
  bottom: 0;
  left: 1px;
  height: 34px;
}
.key27 {
  width: 91px;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
  box-sizing: border-box;
}
.bottom-row1,
.key27,
.key28 {
  display: flex;
  flex-direction: row;
}
.key28 {
  flex: 1;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.bottom-row1 {
  position: absolute;
  width: calc(100% - 6px);
  top: 216px;
  right: 3px;
  left: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 6px;
  font-size: var(--default-regular-callout-size);
}
.icon-dictation,
.icon-emoji {
  width: 27px;
  position: relative;
  height: 27px;
}
.icon-dictation {
  width: 19px;
  height: 28px;
}
.emoji-dictation {
  position: absolute;
  width: calc(100% - 62px);
  top: 281px;
  right: 31px;
  left: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.alphabetickeyboard {
  position: absolute;
  top: 524px;
  left: 0;
  background-color: var(--color-darkslategray-300);
  backdrop-filter: blur(108.73px);
  width: 360px;
  height: 276px;
  text-align: center;
  font-size: var(--body-regular-size);
  color: var(--label-color-dark-primary);
  font-family: var(--default-regular-callout);
}
.username-password {
  width: 100%;
  position: relative;
  background-color: var(--color-mediumturquoise);
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
